# Depth Studio - Depth Anything 3

torch>=2
torchvision
xformers
numpy<2
opencv-python
pillow
PySide6

fastapi
python-multipart
uvicorn[standard]

git+https://github.com/ByteDance-Seed/Depth-Anything-3.git

